/*
   *animation: name duration timing-function delay iteration-count(播放次数) direction
   *
*/

/***********************FIRST***************************/

.ball_plus div{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@keyframes ball_plus {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }

}


.ball_plus div:nth-child(1){
    -webkit-animation: ball_plus 1s linear infinite;
            animation: ball_plus 1s linear infinite;
}
.ball_plus div:nth-child(2){
    -webkit-animation: ball_plus 1s linear .2s infinite;
            animation: ball_plus 1s linear .2s infinite;
}
.ball_plus div:nth-child(3){
    -webkit-animation: ball_plus 1s linear .4s infinite;
            animation: ball_plus 1s linear .4s infinite;
}


/***********************SECOND***************************/

.ball_grid{
    width: 55px;
}
.ball_grid div{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

@keyframes ball_grid {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }

}

.ball_grid div:nth-child(1){
    -webkit-animation: ball_grid .7s -0.1s linear infinite;
            animation: ball_grid .7s -0.1s linear infinite;
}
.ball_grid div:nth-child(2){
    -webkit-animation: ball_grid .8s 0s linear infinite;
            animation: ball_grid .8s 0s linear infinite;
}
.ball_grid div:nth-child(3){
    -webkit-animation: ball_grid .9s .1s linear infinite;
            animation: ball_grid .9s .1s linear infinite;
}
.ball_grid div:nth-child(4){
    -webkit-animation: ball_grid 1s .2s linear infinite;
            animation: ball_grid 1s .2s linear infinite;
}
.ball_grid div:nth-child(5){
    -webkit-animation: ball_grid 1.1s -0.1s linear infinite;
            animation: ball_grid 1.1s -0.1s linear infinite;
}
.ball_grid div:nth-child(6){
    -webkit-animation: ball_grid 1s .3s linear infinite;
            animation: ball_grid 1s .3s linear infinite;
}
.ball_grid div:nth-child(7){
    -webkit-animation: ball_grid .9s .1s linear infinite;
            animation: ball_grid .9s .1s linear infinite;
}
.ball_grid div:nth-child(8){
    -webkit-animation: ball_grid .8s 0s linear infinite;
            animation: ball_grid .8s 0s linear infinite;
}
.ball_grid div:nth-child(9){
    -webkit-animation: ball_grid .7s .1s linear infinite;
            animation: ball_grid .7s .1s linear infinite;
}

/***********************THIRD***************************/
.ball_rotate div{
    width: 15px;
    height: 15px;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_rotate 1s linear infinite;
            animation: ball_rotate 1s linear infinite;
}
.ball_rotate div:before,
.ball_rotate div:after{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.8;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_rotate 1s linear infinite;
            animation: ball_rotate 1s linear infinite;
}
.ball_rotate div:before{
    top: 0;
    left: -28px;
}
.ball_rotate div:after{
    top: 0;
    right: -28px;
}
@keyframes ball_rotate {
    0%{
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
        opacity: 1;
    }
    50%{
        -webkit-transform: rotate(90DEG) scale(0.6);
                transform: rotate(90DEG) scale(0.6);
        opacity: 0.8;
    }
    100%{
        -webkit-transform: rotate(360DEG) scale(1);
                transform: rotate(360DEG) scale(1);
        opacity: 1;
    }
}



/***********************FORTH***************************/
.ball_line div{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    background-color: transparent;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_line 1s linear infinite;
            animation: ball_line 1s linear infinite;
}

@keyframes ball_line {
    0%{
        -webkit-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
    }
    25%{
        -webkit-transform: rotate(90DEG) scale(1.1);
        transform: rotate(90DEG) scale(1.1);
    }
    50%{
        -webkit-transform: rotate(180DEG) scale(1.2);
        transform: rotate(180DEG) scale(1.2);
    }
    75%{
        -webkit-transform: rotate(270DEG) scale(1.1);
        transform: rotate(270DEG) scale(1.1);
    }
    100%{
        -webkit-transform: rotate(360DEG) scale(1);
        transform: rotate(360DEG) scale(1);
    }
}

/******************************FIFTH************************************/
.cube_transition{
    position: relative;
    -webkit-transform: translate(-25px, -25px);
        -ms-transform: translate(-25px, -25px);
            transform: translate(-25px, -25px);
}
.cube_transition div{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: cube_transition 1.6s 0s ease-in-out infinite;
            animation: cube_transition 1.6s 0s ease-in-out infinite;
}
.cube_transition div:nth-child(2){
    -webkit-animation-delay: -0.8s ;
            animation-delay: -0.8s ;
}

@keyframes cube_transition {
    25%{
        -webkit-transform: translateX(50px) scale(0.5) rotate(90DEG);
                transform: translateX(50px) scale(0.5) rotate(90DEG);
    }
    50%{
        -webkit-transform: translate(50px,50px) rotate(180DEG);
                transform: translate(50px,50px) rotate(180DEG);
    }
    75%{
        -webkit-transform: translateY(50px) scale(0.5) rotate(270DEG);
                transform: translateY(50px) scale(0.5) rotate(270DEG);
    }
    100%{
        -webkit-transform: rotate(360DEG);
                transform: rotate(360DEG);
    }
}

/**************************************SIXTH********************************************/
.ball_five{

}
.ball_five div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px;
    background-color: #fff;
    display: inline-block;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}

.ball_five div:nth-child(2n){
    -webkit-animation: ball_five_up 1s 0s cubic-bezier(.15, .46, .9, .6) infinite;
            animation: ball_five_up 1s 0s cubic-bezier(.15, .46, .9, .6) infinite;
}
.ball_five div:nth-child(2n+1){
    -webkit-animation: ball_five_down 1s 0s cubic-bezier(.15, .46, .9, .6) infinite;
            animation: ball_five_down 1s 0s cubic-bezier(.15, .46, .9, .6) infinite;
}

@keyframes ball_five_up{
    0%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    25%{
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    50%{
        -webkit-transform: scale(0.4);
                transform: scale(0.4);
    }
    75%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    100%{
        -webkit-transform: translateY(0) scale(1);
                transform: translateY(0) scale(1);
    }
}
@keyframes ball_five_down{
    0%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    25%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    50%{
        -webkit-transform: scale(0.4);
                transform: scale(0.4);
    }
    75%{
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
    100%{
        -webkit-transform: translateY(0) scale(1);
                transform: translateY(0) scale(1);
    }
}

/*******************************SEVENTH******************************/
.ball_triangle{
    position: relative;
    -webkit-transform: translate(-50px, -25px);
            transform: translate(-50px, -25px);
}
.ball_triangle div{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_triangle 1.2s 0s linear infinite;
            animation: ball_triangle 1.2s 0s linear infinite;
}
.ball_triangle div:nth-child(1){
    top: 50px;

}
.ball_triangle div:nth-child(2){
    left: 25px;
    animation-delay: -0.4s;
}
.ball_triangle div:nth-child(3){
    top: 50px;
    left: 50px;
    animation-delay: -8s;
}

@keyframes ball_triangle {
    33%{
        -webkit-transform: translate(25px,-50px);
                transform: translate(25px,-50px);
    }
    66%{
        -webkit-transform: translate(50px,0);
                transform: translate(50px,0);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}

/*******************************EIGHTH******************************/
.ball_triangle_path{
    position: relative;
    -webkit-transform: translate(-30px, -40px);
            transform: translate(-30px, -40px);
}
.ball_triangle_path div{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.ball_triangle_path div:nth-child(1){
    top: 50px;
    -webkit-animation: ball_triangle_path1 1.5s 0s linear infinite;
            animation: ball_triangle_path1 1.5s 0s linear infinite;
}
.ball_triangle_path div:nth-child(2){
    left: 25px;
    -webkit-animation: ball_triangle_path2 1.5s 0s linear infinite;
            animation: ball_triangle_path2 1.5s 0s linear infinite;
}
.ball_triangle_path div:nth-child(3){
    top: 50px;
    left: 50px;
    -webkit-animation: ball_triangle_path3 1.5s 0s linear infinite;
            animation: ball_triangle_path3 1.5s 0s linear infinite;
}

@keyframes ball_triangle_path1 {
    33%{
        -webkit-transform: translate(25px,-50px);
                transform: translate(25px,-50px);
    }
    66%{
        -webkit-transform: translate(50px,0);
                transform: translate(50px,0);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}
@keyframes ball_triangle_path2 {
    33%{
        -webkit-transform: translate(25px,50px);
                transform: translate(25px,50px);
    }
    66%{
        -webkit-transform: translate(-25px,50px);
                transform: translate(-25px,50px);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}
@keyframes ball_triangle_path3 {
    33%{
        -webkit-transform: translate(-50px,0);
                transform: translate(-50px,0);
    }
    66%{
        -webkit-transform: translate(-25px,-50px);
                transform: translate(-25px,-50px);
    }
    100%{
        -webkit-transform: translate(0,0);
                transform: translate(0,0);
    }
}

/********************************NINE*************************************/
.ball_snake{

}
.ball_snake div{
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_snake 1s 0s linear infinite;
            animation: ball_snake 1s 0s linear infinite;
}

.ball_snake div:nth-child(2){
    -webkit-animation-delay: -0.2s;
}
.ball_snake div:nth-child(3){
    -webkit-animation-delay: -0.4s;
}
.ball_snake div:nth-child(4){
    -webkit-animation-delay: -0.6s;
}
.ball_snake div:nth-child(5){
    -webkit-animation-delay: -0.8s;
}

@keyframes ball_snake {
    0%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    50%{
        -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
    }
    75%{
        -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
    }
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

}

/*******************************TEN**********************************/
.ball_concentric>div{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-top-color: transparent;
    position: relative;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation: ball_concentric 1s linear infinite;
            animation: ball_concentric 1s linear infinite;
}
.ball_concentric>div>div{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes ball_concentric {
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25%{
        -webkit-transform: rotate(90DEG) scale(1.1);
                transform: rotate(90DEG) scale(1.1);
    }
    50%{
        -webkit-transform: rotate(180DEG) scale(1.2);
                transform: rotate(180DEG) scale(1.2);
    }
    75%{
        -webkit-transform: rotate(270DEG) scale(1.1);
                transform: rotate(270DEG) scale(1.1);
    }
    100%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}




